.card{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(234,234,234,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(234,234,234,1);
    box-shadow: 10px 10px 5px 0px rgba(234,234,234,1);
}
.text-primary{
    font-size: 20px;
}